*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.project
app/.classpath
*.iml
.gradle
.idea/*
!.idea/codeStyles
.idea/codeStyles/*
!.idea/codeStyles/Project.xml
projectFilesBackup
.DS_Store
/local.properties
/build
*/build/
*/schemas
/captures
.externalNativeBuild
database_travelers/schemas/*
results/**
gradle.deps
buildSrc/build
offlinetests/build

app/libs/
